.purchase-title {
  position: relative;
  margin: auto;
  width: 50%;
  left: 26%;
  color: rgb(0, 3, 7);
  font-family: "Brush Script MT";
  font-size: 50px;
}

.sale-title {
  position: relative;
  margin: auto;
  width: 50%;
  left: 2%;
  color: rgb(0, 3, 7);
  font-family: "Brush Script MT";
  font-size: 50px;
}

.data {
  height:  120px;
}

.user-in-video-game {
  width: 340px;
  height: 80% !important;
}

.userNameUserCard {
  position: relative;
  top: -10px;
	color: rgb(0, 64, 138);
	font-family: "Brush Script MT";
	font-size: 25px;
}

.userEmailUserCard {
  position: relative;
  top: -40px;
	color: #00aeff;
	font-family: "Helvetica";
	font-size: 15px;
}

.priceUserCard {
  position: relative;
  top: -60px;
	color:  rgb(184, 151, 4);
	font-family: "Helvetica";
	font-size: 30px;
}


.offerImage {
  width: "180";
  height: "200";
}

.autocomplete {
  color: black;
  font-family: arial;
}

.iconClassName {
  color: white;
}

.valign-wrapper {
  background-color: #616161;
}

.centerx {
  /* border: 3px solid green; */
  margin: auto;
  width: 70%;
  background-color: #ffffff;
}

.centerxx {
  /* border: 3px solid green; */
  margin: auto;
  width: 70%;
  background-color: #ffffff;
}


/* .hoverable:hover {
  -webkit-box-shadow: 0 1px 17px 5px #0079be, 0 1px 20px 0 #0079be !important;
          box-shadow: 0 1px 17px 5px #0079be, 0 1px 20px 0 #0079be !important;
} */

.hoverable:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #66666630;
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


nav {
  color: rgb(255, 255, 255) !important;
  background-color: #000000 !important;
  /* width: 100%;
  height: 56px;
  line-height: 56px; */
  z-index: 1 !important;
  border-color: white !important;
}

.card .card-reveal {
  /* padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%; */
  z-index: 0 !important;
}

.input-field .prefix.active {
  color: #0084ff !important;
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
  color: #000 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.img-circle {
    border-radius: 50%;
}

.collection .collection-item.avatar i.circle {
  font-size: 18px;
  line-height: 42px;
  color: rgb(255, 0, 0) !important;
  background-color: #999;
  text-align: center;
}

.center-sale-purchase-offers {
  /* border: 3px solid green; */
  margin: auto;
  width: 55% !important;
  background-color: #ffffff;
}

.black-div {
  margin: auto;
  width: 100%;
  background-color: #ffffff;
}

.autocomplete-catalogue-div {
  margin: auto;
  width: 60%;
  background-color: #ffffff;
}

.scroll-test {
  max-height:100px; overflow:auto;
}
