.Header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background: gray;
    font-size: 100%;

}

.Header li {
    border-right: 3px solid black;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    width: 200px;
}

a {
    text-decoration: none;
    color: black;
}

.Header a:hover,
.Header a:active,
.Header a.active {
    color: white;
}



li { cursor: pointer; }
.Header li:hover,
.Header li:active,
.Header li.active {
    color: white;
    font-weight: bold;
}


.App {
    text-align: center;
  }
  
  
  .offerImage {
    width: "180";
    height: "200";
  }
  
  .autocomplete {
    color: black;
    font-family: arial;
  }
  
  .iconClassName {
    color: white;
  }
  
  .valign-wrapper {
    background-color: #616161;
  }
  
  .card {
    width: 200px;
  }
  
  .centerx {
    /* border: 3px solid green; */
    margin: auto;
    width: 70%;
    background-color: #ffffff;
  }
  
  .centerxx {
    /* border: 3px solid green; */
    margin: auto;
    width: 70%;
    background-color: #ffffff;
  }
  
  
  /* .hoverable:hover {
    -webkit-box-shadow: 0 1px 17px 5px #0079be, 0 1px 20px 0 #0079be !important;
            box-shadow: 0 1px 17px 5px #0079be, 0 1px 20px 0 #0079be !important;
  } */
  
  .hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #66666630;
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  
  nav {
    color: rgb(255, 255, 255) !important;
    background-color: #000000 !important;
    /* width: 100%;
    height: 56px;
    line-height: 56px; */
    z-index: 1 !important;
    border-color: white !important;
  }
  
  .card .card-reveal {
    /* padding: 24px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%; */
    z-index: 0 !important;
  }
  
  .user {
    width: 300px;
    height: 120px;
  }
  
  .div-user-autocomplete {
    margin: auto;
    width: 50%;
  }
  
  .div-user {
    background-color: #ffffff;
  }
  
  
  .input-field .prefix.active {
    color: #0084ff !important;
  }
  
   /* label focus color */
   .input-field input[type=text]:focus + label {
    color: #000 !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
  }
  
  
  
  .img-circle {
      border-radius: 50%;
  }
  
  .collection .collection-item.avatar i.circle {
    font-size: 18px;
    line-height: 42px;
    color: rgb(255, 0, 0) !important;
    background-color: #999;
    text-align: center;
  }
  
  .arrow-up {
    width: 200px;
    height: 200px;
    background: url(https://goo.gl/BeSyyD);
  
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
  }