.Modal{
  text-align: center;
}

.ModalSignUp button{
    background:#DD4B39;
    margin: 30px;
    border-radius: 10px;
    color: black;
    width:70%;
    padding:20px;
    
}


.ModalSignUp input {
    padding: 10px;
    margin: 2px;
    width: 60%;
    
    color: white;
}

.ModalSignUp .inputButton{
    width: 70%;
    background: rgb(255, 255, 255);
    color:black;
    border-radius: 5px;
    font-weight: bold;

}
